[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "~=2.3.1"
autopep8 = "~=1.4.3"

[packages]
requests = "~=2.21.0"
beautifulsoup4 = "~=4.7.1"
flask = "~=1.0.2"
gunicorn = "~=19.9.0"

[requires]
python_version = "~=3.7"
